@font-face {
    font-family: 'open-sans';
    src: url('../src/media/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'font';
    src: url("../src/media/fonts/Roboto/Roboto-Black.ttf");
}

:root{
    --black--:#273036
}

.center{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open-sans';
    
}
.section-title{
    text-align: center;
    font-size: 1.8rem;
    margin: 0rem 0rem 4rem 0rem;
    font-family: 'font';
}
/*Header*/

#header{
    background-color: none;
    box-shadow: none;
    background-color: white;
    box-shadow: 0px 4px 10px #2730363d;
}
#header nav .desktop-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
}
#header  .navbar-title{
 position: relative;
 font-size: 1.7rem;
 font-weight: 900;
 padding-left: .5rem;
 
}
#header nav .mobile-nav{ 
margin-top: .5rem;
height: 0px;
overflow: hidden;
transition: all .5s ease-out;

}
#header nav .mobile-nav.active{
    height: 105px;
    
}
#header nav .mobile-nav .nav-item{
    display: block;
    padding: .8rem 0.5rem .5rem 1.5rem;
}

#header .nav-link{
    position: relative;
    text-decoration: none;
    color: black;
}
#header .nav-link::before{
content: " ";
position: absolute;
height: 3px;
width:0%;
background-color: black;
bottom: -.3rem;
opacity: 0;
transition: all .5s linear;
}
#header .nav-link:hover::before{
    opacity: 1;
}
#header .menu-button{
    display: none;
    position: relative;
}
#header .nav-item{
    display: inline-block;
    padding: 0rem 1.3rem;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
}

#header .menu-button .icon{
    position: absolute;
    inset: 0;
    margin: auto;
    width:80%;
    height: 2px;
    background: grey;
    transition: all .5s linear;
}
#header .menu-button.active .icon{
    
}
#header .menu-button .icon::before{
content: " ";
position: absolute;
inset: 0;
top: -12px;
margin: auto;
height: 100%;
background: red;
transition: all .5s linear;

}
#header .menu-button .icon::after{
    content: " ";
    position: absolute;
    inset: 0;
    bottom: -12px;
    margin: auto;
    height: 100%;
    background: blue;
transition: all .5s linear;
}
#header .menu-button.active .icon::before{
    top: 0px;
    transform: rotate(-45deg);
    opacity: 1;
    z-index: 20;

}
#header .menu-button.active .icon::after{
    bottom: 0px;
    transform: rotate(45deg);
        
}
/*Intro*/

#intro{
    position: relative;
}
#intro .container{
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
 visibility: hidden;
}
#intro .container div:first-child{
    width: 50%;
    padding: 0rem 3rem;
    font-weight: 900;

}
#intro .container div:first-child h1{
    font-family: 'font';
    font-size: 2.3rem;
    position: relative;
    overflow: hidden;
}
/* #intro .container div:first-child h1:before{
 content: " ";
 width: 100%;
 height: 100%;
 background-color: white;
 position: absolute;
 top: 0;
 right: 0;
} */
#intro .container div{
    padding-bottom: 50px;
}
#intro .illustration img{
    height: 300px;
  
}
#intro .wave-png{
    position: absolute;
    bottom: -70px;
    z-index: -3;
}

#intro .container button{
    font-weight: 500;
    margin: 1rem 0rem;
    color: white;
    background-color: var(--black--);
}
#intro .container button:hover{
    background-color: rgb(59, 64, 94);
}

/*about me*/
#about-me{
    background-color: var(--black--);
}

#about-me .container{
    padding: 0rem 0rem 3rem 0rem;
    margin: 0 auto;
    width: 70%;
    font-size: 1.2rem;
   word-break: break-all;
   color: white;
   visibility: hidden;
}

/*my services*/

#my-services{
    padding: 5rem 0rem;
}
#my-services .container{
    padding: 3rem;
    margin: 3rem 0rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4,1fr);
}
#my-services .service-card{
 text-align: center;
 padding: 1rem 0rem ;
}
#my-services .service-card .card-body{
    text-align: left;
}

#my-services  img{
    width: 120px;
    
}
#my-services .service-card h3{
    margin: 1rem 0rem;
    font-weight: 800;
    font-family: 'font';
}

/*projects*/

#my-projects{
    background-color: var(--black--);
    color: white;
    padding: 3rem 0rem 4rem 0rem;
}
#my-projects .projects{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 6rem 2rem;
   margin-top: 8rem;
}
#my-projects .container{
    padding: 2rem;
}
#my-projects .project{
    display: flex;
}

#my-projects .project .visit{
 display: grid;
 place-items: center;
 opacity: 0;
 position: absolute;
 inset: 0;
 margin: auto;
 overflow: hidden;
 width: 100%;
 height: 0%;
 background-color: rgba(0, 0, 0, 0.438);
 transition: all .15s linear;
}
#my-projects .project .project-img:hover .visit{
 opacity: 1;
 height: 100%; 
 -webkit-backdrop-filter: blur(5px);
 backdrop-filter: blur(5px);
}
#my-projects .project .about-project{
    flex-basis: 50%;
    padding: 0rem 2rem;
    word-break: break-all;
}
#my-projects  .project .project-img{
    position: relative;
    border: 2px solid grey ;
    width: 300px;
    height: 400px;
    border: 2px solid rgb(250, 250, 250);
    overflow: hidden;
    border-radius: 2%;
}
#my-projects .project .project-img img{
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}
#my-projects .project .project-img:hover img{
    transform: scale(1.1);
}


/*my skills*/

#my-skills{
padding: 3.6rem 0rem;
}
#my-skills .container{
    margin: 0 auto;
    text-align: center;
}
#my-skills .skills div{
    margin: 1rem;
    padding: 2rem 3rem;
    box-shadow: 3px 5px 50px -15px rgba(0, 0, 0, 0.541);
    border-radius: .5rem;
    background-color: var(--black--);
    color: white;
}
#my-skills .skills{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
}
#my-skills .skills p{
    margin: 1rem 0rem;
    font-size: 1.2rem;
}

/*contact*/
#contact{
    padding: 4rem 0rem;
}
#contact .section-title{
    margin:0rem 0rem 2rem 0rem;
}
#contact div{
    text-align: center;
}
#contact p{
    font-size: 1.3rem;
    margin: 1rem auto 1.5rem auto;
    width: 50%;
}

#contact button{
    margin: 0 auto;
    background-color: var(--black--);

}

/*Footer*/

#footer{
    padding: 2rem 0rem 1rem 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: var(--black--);
}
#footer a{
    margin: 1rem 1.5rem;
    color: rgb(255, 255, 255);

}
#footer p{
    margin: 1rem 0rem;
}

@media (max-width:425px){
    html{
        font-size: 80%;
    }
    .section-title{
        margin:0rem 0rem 1.5rem 0rem;
    }
  #header  .desktop-nav ul{
      display:none;
  }
 
  #header .menu-button{
      display: block;
  }
  #intro .illustration{
      display: none;
  }
  #intro .container{
      height: 90vh;
  }
  #intro .container div:first-child{
      width: 100%;
  }
  #intro .wave-png{
      bottom: -5px;
  }
  #about-me .container{
      width: 90%;
      font-size: 1rem;
  }
  #my-services{
      padding: 2rem 0rem 0rem 0rem;
  }
  #my-services .container,
  #my-projects .projects{
      grid-template-columns: 1fr;
      justify-content: center;
      
  }
  #my-services .container .service-card{
      width: 80%;
      margin: 0 auto;
  } 
  #my-services img{
      width: 80px;
  }
  #my-projects  .project .project-img{
      width: 200px;
      height: 250px;
  }
  #my-projects .project:nth-child(even){
      flex-direction: row-reverse;
  } 
  #my-projects .project .about-project,
  #my-projects .container{
      padding: 0rem 1rem;
  }  
  #my-projects .projects{
      gap: 7rem 0rem;
  }
  #contact p{
      width: 90%;
  }
  

}